//Site-general-text-color
$site-clr-text                          : #F8EDE3;
$site-clr-text-2                        : #A2B29F;
$site-clr-text-3                        : #f5f0dc;
$site-clr-text-4                        : #dcdfe3;
$site-clr-text-5                        : #808080;
$site-clr-text-6                        : #f0f0f0;
$site-clr-text-7                        : #97dfd4;
$site-clr-text-8                        : #111810;
$site-clr-text-9                        : #8f8f8f;
$site-clr-text-10                       : #748277;
$f-wht                                  : #fff;
$f-blck                                 : #000;


//Site-general-bg-color
$site-clr-bg                            : #BDD2B6;
$site-clr-bg-2                          : #798777;
$site-clr-bg-3                          : #2b2d2e;
$site-clr-bg-4                          : #141414;
$site-clr-bg-5                          : #b8cc48;
$site-clr-bg-6                          : #4a594c;
$site-clr-bg-7                          : #212529;
$site-clr-bg-8                          : #f0f0f0;
$site-clr-bg-9                          : #224a33;
$site-clr-bg-10                         : #255248;
$site-clr-bg-11                         : #20291d;
$site-clr-bg-12                         : #161b16;
$site-clr-bg-13                         : #152118;
$site-clr-bg-14                         : #556f79;
$site-clr-bg-15                         : #233846;
$site-clr-bg-16                         : #102128;
$site-clr-bg-17                         : #052434;
$site-clr-bg-18                         : #272727;
$site-clr-bg-19                         : #061301;
$site-clr-bg-20                         : #223a4d;
$site-clr-bg-21                         : #15212a;


//Site-general-linear-gradient
$site-linear                            : linear-gradient(to top ,#2b2d2e 98%,rgba(43, 45, 46,0.99) 2%);
$site-linear-2                          : linear-gradient(180deg, rgba(23,24,27,0.9920343137254902) 0%, rgba(84,84,154,1) 0%, rgba(30,51,49,1) 0%);
$site-linear-3                          : linear-gradient(65deg,#00a878,#0fffba);
$site-linear-4                          : linear-gradient(143deg, rgba(7,37,54,1) 34%, rgba(9,60,92,1) 72%);
$site-linear-5                          : linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);          
$site-linear-6                          : linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
$site-linear-7                          : linear-gradient(180deg, rgba(31,34,28,1) 0%, rgba(10,22,15,1) 100%, rgba(20,33,26,0.9920343137254902) 100%);


//Site-general-border-clr
$border-clr                             :#313330;
$border-clr-2                           :#00f5ae;
$border-clr-3                           :#707171;


//Site-general-shadow
$shadow-1                               :rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-2                               :rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$shadow-3                               :rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$shadow-4                               :rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$shadow-5                               :  0 0 30px 0 rgb(0 219 156 / 90%);


// Site-main-default-font
$site-font-family-default               : 'ProductSans', sans-serif;

