.footer{
    background:$site-clr-linear-2;
    color: $f-wht;
    @extend .w100-h100;
    & > .container,& > .container-fluid{
        padding: 0px 275px;
    }
    &-web{
        @extend .flex-set1;       
        &-left{
            flex: 60%;
            p{
                color: $site-clr-text-10 ;
            }
            button{
                display: flex;  
                padding: 5px 12px;
                color: $f-wht;
                background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);          
                margin: 30px 0;
                transition: all .3s;     
                padding: 10px 20px;
                font-size: 16px !important;        
                border-color: transparent;
       
                &:hover{
                    background-image: right center;
                    background-size: 700% 400%;
                    border-color: $border-clr-2;
                    box-shadow: $shadow-5;
                }
            }
        }
        &-right{
            img{
                @extend .w100-h100;
                border-radius: 35%;
            }
        }
    }
}