.coindetail{
    background: $site-linear-7;
    color: $f-wht;
    &-top{
        display: flex;
        gap: 0 8px;    
        opacity: 0.95;
        a{
            color:rgb(161, 167, 187) !important;
        }
    }
    &-main-section{ 
        display: flex;
        padding: 50px 0;
        opacity: .97;
        .section-left{
            flex: 70%;
            .rank{
                display: inline-block;
                padding: 2px 5px;
                background-color: rgba(75,85,99,.5);
                font-size: 12px;
                border-radius: 10px;
            }
            .title{
                display: flex;
                align-items: center;
                gap: 0 10px;
                padding-top: 10px;
                img{
                    
                    width: 35px;
                    height: 35px;
                }
                small{
                    padding: 2px 7px;
                    font-size: 12px;
                    color: #a1a7bb;
                    background-color: rgba(75,85,99,.5);
                    border-radius: 4px;
                }
            }
            .price{
                display: flex;
                align-items: center;
                padding: 12px 0;

                span{
                    padding: 3px;
                    border-radius: 10px;
                    margin-left: 15px;
                }
            }
            .btc-eth-qvlnt{
                span{
                    margin-right: 15px;
                    color: rgb(161, 167, 187);
                }
  
            }
            .h24-l-h{
                width: 40%;
                padding: 15px 0;
                font-size: 12px;
                .progressBar{
                    max-width: 100%;
                } 
                .h24-chng{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 4px;
                }
            }
            .info{
                display: flex;
                gap: 0 50px;
                padding: 40px 0;
                &-right,&-left{
                    flex: 40%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px 0;
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 12px;
                        border-bottom: 1px solid #3d3d3d;
                        p{
                            color: rgb(161, 167, 187);
                        }
                    }
                }
            }
       
        }
        .section-right{
            flex: 30%;
            display: flex;
            flex-direction: column;
            gap: 18px 0;
            padding-left: 40px;
            > div{
                color : rgb(161, 167, 187);
                display: flex;
                p{
                    flex:40%
                }
                .links,.vltn{
                    flex:60%; 
                }
                .com{
                     @include BootstrapMaxWidthResponsive(hd){  
                                display: flex;
                                flex-direction: column;  
                                gap: 4px 0;
                                a{
                                    max-width: 60%;
                                }         
                    }
                    @include BootstrapMaxWidthResponsive(lg){  
                        a{  
                            width: 40%;
                            text-align: center;
                            img{
                                display: none;
                            }
                        }         
                    }
                }
                a,span{
                    color: $f-wht !important;
                    padding: 5px 7px;
                    background-color: rgba(75, 85, 99, 0.5);
                    border-radius: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right:5px;
                    transition: all .2s;
                    &:hover{
                        opacity: .9;
                        color:green !important;
                    }
                }

            }
            
        }
    }
    &-bottom{
        ul{
            li{
                background-color: #181d1d;
                border-radius: 10px;
                button{                   
                    color: rgb(161, 167, 187) !important;
                    &:focus{
                        background-color: #181d1d !important;
                    }
                }
            }
        }
        .main{
            background-color: #181d1d;
            .markettable{
                padding: 0 !important;
                .tbl-thead{
                    background-color: transparent;
                }
                .tbl-tbody .tbl-tr{
                    padding: 15px 20px;
                }
            }
        }
    }
}