.main{
    background-color:$site-clr-bg-19;
    
    color: $f-wht;
    @extend .w100-h100;
    &-web{
        &-title{
           padding-top:20px ;
        }
        &-section{
            
        }
        &-bottom{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0 5px;

                li:not(:first-child,:last-child){
                    border: 1px solid #636363;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: rgb(34, 37, 49);
                    }
                }    
                li:first-child,li:last-child{
                    margin: 0 10px;
                    cursor: pointer;
                }    
                .active{
                    background-color: rgb(34, 37, 49);
                }
                .break{
                    border: none !important;
                    font-size: 12px;
                    letter-spacing: 3px;
                }
            }
        }
    } 
}
